{% extends 'blog/base.html' %}

{% block profile %}
<div class="col-md-4">
  <div class="profile_box" style="color: white; ">
      <div class="text-center">
        <h1>Profile</h1>
      </div>
      <p>
        <ul>
          <li> <h4>Username</h4>    {{user.username}}</li>
          <li> <h4>First name</h4>  {{user.first_name}}</li>
          <li> <h4>Last name</h4>  {{user.last_name}}</li>
        </ul>
        <a class="btn btn-default" style="float:right;" href="logout" >Log Out</a>
      </p>
    </div>
</div>
{% endblock %}
