.title:hover{
  text-decoration: none;
}

.jumbotron {
  background-color: #c9e7ec;
}

.page-header {
    background-color: #ff3b3f;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    margin-bottom: 0;

}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 60px;
    margin-top: 35px;
}

h1, h2, h3, h4 {
    font-family: 'Anton', sans-serif;
}

li {
  padding: 20px 90px 20px 0px;
  list-style-type: none;
  color: white;
  border-bottom: 1px solid black;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.login {
  background-color: #EFEFEF;
  padding: 18px;
  margin-left: 50px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.placebox {
  background-color: #EFEFEF;
  padding: 18px;
}

.post {
    margin-bottom: 60px;
    background-color: #EFEFEF;
    padding: 18px;
    color: #A9A9A9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile_box {
  background-color: #ff3b3f;
  padding: 18px;
  float: left;
  width: 100%;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.post h1 a, .post h1 a:visited {
    color: #000000;
}

body {
  background-color: #fff;
  background-image:
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#c9e7ec .1em, transparent .1em);
  background-size: 100% 1.2em;
}

.btn-default {
  border-radius: 0;
  background-color: white;
  background-image: none;
}
